:root {
  --default-element-height: 30px;

  --background-color-light: #F8F8FF;
  --background-color-dark: #000000DD;

  --font-color-light: #000000CC;
  --font-color-dark: #FFFFFFCC;

  --placeholder-color-light: #00000055;
  --placeholder-color-dark: #FFFFFF55;

  --border-radius: 5px;
  --border-width: 2px;
  --border-color-light: var(--font-color-light);
  --border-color-dark: var(--font-color-dark);

  --current-font-color: var(--font-color-light);
  --current-background-color: var(--background-color-light);
  --current-placeholder-color: var(--placeholder-color-light);
  --current-border-color: var(--border-color-light);
}

@keyframes blink {
  50% {
    visibility: hidden;
  }
}

@keyframes floating {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}

.radio__light,
.radio__dark {
  display: none;
}

.radio__light:checked ~ .container {
  --current-font-color: var(--font-color-light);
  --current-background-color: var(--background-color-light);
  --current-border-color: var(--font-color-light);
  --current-placeholder-color: var(--placeholder-color-light);
}

.radio__dark:checked ~ .container {
  --current-font-color: var(--font-color-dark);
  --current-background-color: var(--background-color-dark);
  --current-border-color: var(--font-color-dark);
  --current-placeholder-color: var(--placeholder-color-dark);
}

.radio__light:checked ~ .container .switch__light {
  background-color: var(--background-color-dark);
}

.radio__dark:checked ~ .container .switch__dark {
  background-color: var(--background-color-light);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  min-height: 100%;
  background-color: var(--current-background-color);
  color: var(--current-font-color);
  transition: background-color 500ms;
}

.container * {
  user-select: none;
}

label, input, textarea, button {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--current-font-color);
  background-color: transparent;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

input::placeholder, textarea::placeholder, button::placeholder {
  color: var(--current-placeholder-color);
}

.switch {
  display: flex;
  position: absolute;
  top: 20px;
}

.switch > .switch__light,
.switch > .switch__dark {
  text-align: center;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 500ms;
}

.switch > .switch__light {
  color: var(--background-color-light);
}

.switch > .switch__dark {
  color: var(--background-color-dark);
}

header {
  position: relative;
}

header > .title {
  text-align: center;
  font-size: 2rem;
  padding: 10px 0;
  text-transform: lowercase;
}

header > .title:before,
header > .title:after {
  display: inline;
  animation: blink 1s step-start infinite;
}

header > .title:before {
  content: ">";
}

header > .title:after {
  content: "_";
}

header, main {
  max-width: 500px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.crypto {
  user-select: none;
}

.crypto:before {
  content: "Выберите метод:";
  display: block;
  margin: 5px 0;
}

.crypto input {
  display: none;
}

.crypto input + label {
  display: block;
  text-align: left;
  height: var(--default-element-height);
  line-height: var(--default-element-height);
  cursor: pointer;
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.crypto input + label:before {
  content: ">";
  padding: 0 10px;
}

.crypto input:checked + label {
  border: var(--border-width) solid var(--current-border-color);
}

.mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.mode input {
  display: none;
}

.mode .switch__decrypt,
.mode .switch__encrypt {
  display: block;
  width: 50%;
  text-align: center;
  height: var(--default-element-height);
  line-height: var(--default-element-height);
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mode .switcher-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mode .switcher {
  border-radius: var(--border-radius);
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 50%;
  height: var(--default-element-height);
  border: var(--border-width) solid var(--current-border-color);
  animation: floating 2s infinite alternate ease-in-out;
  transition: left 500ms;
}

.mode .radio__encrypt:checked ~ .switcher-container .switcher {
  left: 50%;
}

.calc {
  display: flex;
  flex-direction: column;
}

.calc input {
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  border: var(--border-width) solid var(--current-border-color);
  padding: 0 10px;
  height: var(--default-element-height);
}

.calc .textarea {
  display: flex;
  overflow: hidden;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--current-border-color);
}

.calc .textarea textarea {
  display: block;
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  resize: none;
  border: 0;
}

.calc .textarea .copy {
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  border: 0;
  border-left: var(--border-width)solid var(--current-border-color);
  border-bottom: var(--border-width) solid var(--current-border-color);
  border-radius: 0 0 0 var(--border-radius);
  font-size: 20px;
  cursor: pointer;
}

.calc .textarea .copy:hover {
  background-size: 65%;
}

.details-section {
  border: var(--border-width) solid var(--current-border-color);
  margin: 10px 0;
  min-height: var(--default-element-height);
  line-height: var(--default-element-height);
  border-radius: var(--border-radius);
}

.details-section .title {
  padding: 0 10px;
}

.details-section .details {
  font-family: 'Courier New', Courier, monospace;
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
}

.details-section .details * {
  user-select: text;
}

@media screen and (max-width: 400px) {
  header .title {
    font-size: 1.4rem;
    padding: 10px 0;
  }
  header .switch {
    left: 0;
    right: 0;
    padding: 10px;
    justify-content: space-between;
    top: 5px;
  }
  .switch > .switch__light,
  .switch > .switch__dark {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}